html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* General */
  --main-background: hsl(222, 26%, 31%);
  --toggle-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);

  /* Keys */
  --key-background-reset-del: hsl(225, 21%, 49%);
  --key-shadow-keyboard: hsl(224, 28%, 35%);

  --background-main-container-btn: #262c44;

  --toggle: hsl(6, 63%, 50%);
  --key-shadow-equal: hsl(6, 70%, 34%);

  --key-background-numbers: hsl(30, 25%, 89%);
  --key-background-numbers-shadow: hsl(28, 16%, 65%);

  /* Text */
  --text-key: hsl(221, 14%, 31%);
  --display: #fff;
  --text-color-del: #fff;
  --text-color-equal: #fff;

  --switch-color: invert(92%) sepia(93%) saturate(31%) hue-rotate(248deg) brightness(108%) contrast(100%);
}

[data-theme='theme-2'] {
  /* General */
  --main-background: hsl(0, 0%, 90%);
  --toggle-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);

  /* Keys */
  --key-background-reset-del: #388186;
  --key-background: hsl(185, 42%, 37%);
  --key-shadow-keyboard: hsl(185, 58%, 25%);

  --background-main-container-btn: #d2cdcd;

  --toggle: hsl(25, 98%, 40%);
  --key-shadow-equal: hsl(25, 99%, 27%);

  --key-background-numbers: hsl(45, 7%, 89%);
  --key-background-numbers-shadow: hsl(35, 11%, 61%);

  /* Text */
  --text-key: hsl(60, 10%, 19%);
  --display: #39392e;
  --text-color-del: hsl(0, 0%, 90%);
  --text-color-equal: hsl(0, 0%, 90%);

  --switch-color: filter: invert(20%) sepia(6%) saturate(1292%) hue-rotate(22deg) brightness(93%) contrast(90%);
}

[data-theme='theme-3'] {
  /* General */
  --main-background: hsl(268, 75%, 9%);
  --toggle-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);

  /* Keys */
  --key-background-reset-del: #56077c;
  --key-background: hsl(281, 89%, 26%);
  --key-shadow-keyboard: hsl(285, 91%, 52%);

  --toggle: hsl(176, 100%, 44%);
  --key-shadow-equal: hsl(177, 92%, 70%);

  --background-main-container-btn: #1e0837;

  --key-background-numbers: hsl(268, 47%, 21%);
  --key-background-numbers-shadow: hsl(290, 70%, 36%);

  /* Text */
  --text-key: hsl(52, 100%, 62%);
  --display: hsl(52, 100%, 62%);
  --text-equal: hsl(198, 20%, 13%);
  --text-display: hsl(0, 0, 100%);
  --text-color-del: #fff;
  --text-color-equal: hsl(221, 14%, 31%);

  --switch-color: invert(83%) sepia(82%) saturate(453%) hue-rotate(337deg) brightness(99%) contrast(107%);
}

body {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: var(--main-background);
  min-height: 100vh;
}

@media screen and (max-width: 450px), screen and (min-height: 1180px) {
  .App {
    padding: 2rem 20px;
  }
}
